extends _app

append defs
  - title = 'Test: Font'

append head
  style.

    *, *::before, *::after {
      box-sizing: border-box;
    }

    .label::before {
      font-family: monospace;
      //- font-size: 1rem;
      counter-reset: cp var(--stack-gap);
      counter-reset: cp ;
      content: counter(cp);
      display: block;
      width: 100%;
      padding: 1em;
      background-color: #ddd;
    }

block body
  .wrap-last
    .frame
      .stack-l
        .stack-m
          .f-sans-m= _chance.sentence()
          .f-sans-m= _chance.sentence()
          .f-sans-s= _chance.sentence()
          .label
          .label
          .f-sans-m= _chance.sentence()
          .f-sans-s= _chance.sentence()
          .label
          .label
          .f-sans-m= _chance.sentence()
          .f-sans-s= _chance.sentence()
          .label
          .label
