extends _app

append defs
  - title = 'Test: Grid'

append head
  style.

    *, *::before, *::after {
      box-sizing: border-box;
    }

    .label::before {
      font-family: monospace;
      //- font-size: 1rem;
      counter-reset: cp var(--stack-gap);
      counter-reset: cp ;
      content: counter(cp);
      display: block;
      width: 100%;
      padding: 1em;
      background-color: #ddd;
    }

block body
  //-
    .wrap-last
      .frame
        .grid-xl
          .cell
            .grid-m
              .cell
                .stack-m
                  h2.font-sans-h3 Hello world
                  p.font-serif-h4 This is a section
              .cell
                .stack-m
                  h2.font-serif-h3 Hello world
                  p.font-sans-h4 This is a section
              .cell
                .stack-m
                  h2.font-sans-h3 Hello world
                  p.font-sans-h4 This is a section
          .cell

  .wrap--last
    .frame
      .stack--l
        .stack--m
          .sans--m= chance.sentence()
          //- .sans--s= chance.sentence()
          .label
          .label
          .stack--s
            .sans--m= chance.sentence()
            .sans--s= chance.sentence()
          .label
          .label
          .sans--m= chance.sentence()
          .sans--s= chance.sentence()
          .label
          .label
          .sans--m= chance.sentence()
          .sans--s= chance.sentence()
          .label
          .label
          .sans--m= chance.sentence()
          .sans--s= chance.sentence()
          .label
          .label
